@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Josefin+Sans&family=Lexend+Exa&family=Poppins&family=Raleway&display=swap');

:root {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    margin: 0;
    font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    background-color: #e3f5fc;
    height: 100vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/Frame-3.svg);
    background-size: cover;
}

img {
    width: auto;
    height: 200px;
    margin-left: 50px;
}

.logo {
    display: flex;
}

.logo-text {
    align-self: center;
    font-family: "AvaraBold";
    font-size: 75px;
    color: #dcdaf2;
    padding-top: 40px;
}

.main-side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    background-color: #e3f5fc;
    /* background-image: url(./images/Desktop-2.svg); */
    background-size: cover;

}


.head-text {
    /* height: 270px; */
    /* background-color: bisque; */
    
    background-image: url(./images/Slice-2.svg);
    background-size: cover;
    background-position: center bottom;
    flex-grow: 1;
}

.text1 {
    width: 600px;
    margin-top: 60px;
    margin-left: 210px;
}

.text2 {
    margin-top: 15px;
    margin-bottom: 80px;
    margin-left: 210px;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    /* background-color: azure; */

    flex-grow: 2;
}


.form-header {
    margin-bottom: 20px;
}

.fill-in {
    display: flex;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-direction: column;
    
    /* flex-flow: row wrap; */
    
    margin-bottom: 10px;
    margin-right: 80px;
}

button, input {
    font-family: inherit;
    font-size: 75%;
}

input {
    border: 1px solid #dadfe5;
    border-radius: 5px;
}

input:required {
    border: 1px solid #dcdaf2;
    border-radius: 5px;
}

input + span {
    position: relative;
  }
  
  input + span::before {
    position: absolute;
    right: -20px;
  }
   
  input:not(:placeholder-shown):not(:focus):invalid + span::before {
    content: '✖';
    color: red;
  }
  
  input:valid + span::before {
    content: '✓';
    color: purple;
  } 

button {
    align-self: flex-end;
    margin-right: 240px;
    width: 200px;

    background-color: #dcdaf2;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;  
    transition-duration: 0.2s;
}

button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24) inset, 0 6px 8px 0 rgba(0,0,0,0.19) inset;
    /* background-color: hsl(245,48,90,0.5); */
}

button:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24) inset, 0 12px 16px 0 rgba(0,0,0,0.19) inset;
}

.log-in-check {
    padding-top: 40px;
    padding-left: 120px;
    padding-bottom: 50;
    background-image: url(./images/Slice-1.svg);
    background-size: cover;
    background-position: center top;
    /* background-color: beige; */

    flex-grow: 1;
}